* {
    box-sizing: border-box;
}

body {
    background: indigo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-canvas {
    image-rendering: pixelated;
    background: white;
    margin: 90px;
}